<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Potwierdzenie subskrypcji</title>
  <style>
        .inline {
            display: inline;
        }

        .link-button {
            background: none;
            border: none;
            color: blue;
            text-decoration: underline;
            cursor: pointer;
            font-size: 1em;
            font-family: serif;
        }
        .link-button:focus {
            outline: none;
        }
        .link-button:active {
            color:red;
        }
    </style>
</head>
<body>
<h1 class="gios-heading gios-heading--main"><b>Dane o zanieczyszczeniu powietrza w polskich miastach</b></h1>

<main class="report container">
  <h2>Potwierdzenie subskrypcji</h2>
  <form method="post" th:action="@{${confirmLink}}" class="inline">
  W celu aktywacji subskrypcji, proszę kliknąć w link
    <button type="submit" name="submit_param" value="submit_value" class="link-button">
      Potwierdź subskrypcję
    </button>
  </form>
</main>
</body>
</html>